#about-main{

    color: black;
    background-color: yellow;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
   border: 1px black solid;
    background: rgb(255, 255, 0, .9);
  
  }



#about-main h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;

}



.about-content-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.about-content-text{
    flex-wrap: wrap;
      font-size: 90%;  
      max-width: 35%; 
}

@media screen and (max-width: 920px){
    #about-main{

        
        margin-top: 20px;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        border:none;
        border:solid black 1px;
     
            
      }

      .about-content-div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }
    #about-main h1{
        font-size: 20px;
        font-weight: 900;
        text-align: center;
    
    }
    .about-content-text{
        max-height: 100%;
        font-size: 60%;
       max-width: 100%;
    }
    .about-content-image{
        max-width: 70%;
    }
}