#about-main{
    color: black;
    margin-top: 8%;
    font-family: 'Courier New', Courier, monospace;
    border: red solid 4px;
    background: rgb(255, 255, 0, .7);
  }

  #intro-about{
    font-family: "Bungee Tint", sans-serif;
   padding: 3%;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,30,13,1) 20%, rgba(29,130,56,1) 100%);
    font-size: 1.5em;
  }
  


.about-content-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.about-content-text{
    flex-wrap: wrap;
      font-size: 90%;  
      max-width: 35%; 
}

@media screen and (max-width: 920px){
    #about-main{       
                
        font-family: 'Courier New', Courier, monospace;
   }
   #intro-about{
    font-size: 1em;
   }

      .about-content-div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
        padding: 5%;
    }
   
    .about-content-text{
        max-height: 100%;
        font-size:0.7em;
        font-weight: 900;
       max-width: 100%;
    }
    .about-content-image{
        max-width: 70%;
    }
}