#contact-header{
    padding: 3%;
    font-family: "Bungee Tint", sans-serif;
    word-spacing: 1rem;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,30,13,1) 20%, rgba(29,130,56,1) 100%);
    min-width: 100%;
    
}
#contact-container{
    border: solid 4px red;
    margin-top: 8%;
    background: rgb(255,255,0, 0.5);
}
.form-body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    max-width: 80%;
    border:none;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.submit{
    margin-top: 5%;
}