
#opening{
    font-family: "Bungee Tint", sans-serif;
    word-spacing: 1rem;
    text-align: center;
    background-color: yellow;
  
}

.p-3{
    padding: 0rem !important;
    font-size: smaller;
}

.rating svg {
    color: #f87525;
}


@media (max-width: 768px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 50%;
        font-size: small;
    }
    .p-3{
       
        font-size: small;
    }
}