
#opening{
    font-family: "Bungee Tint", sans-serif;
    word-spacing: 1rem;
    text-align: center;
    background-color:  #1d8238;
    margin-top: 70px;
    padding: 2%;
  
}

.p-3{
    padding: 0rem !important;
    font-size: smaller;
}

.rating svg {
    color: #f87525;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (max-width: 1000px) {
    
    .card-img-top{
       height: 30vw;
      }
}

@media (max-width: 768px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 50%;
        font-size: small;
    }
    .p-3{
       
        font-size: small;
    }
    .card-img-top{
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }
}