.main-container{
  background-color: yellow;
  min-width: 80%;
  margin: auto;
  margin-top: 5%;


}

#title-text{    
  font-family: "Bungee Tint", sans-serif;
 
  text-align: center;
}

.title-head{
 font-size: 4em;
}

.intro-text{
    font-size: 2em;
}

.typed{
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  color: black;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

  


  .carousel-control-prev-icon, .carousel-control-next-icon {
    
    background-color: black;
}
 
  @media screen and (max-width: 920px){
    #title-text{
        font-size: .4rem;
          
    }

    .carousel-item{
      max-height: 20rem;
           
    }
    .typed{
      font-size: .5em;
      
    }
  }