

#title-text{    
  font-family: "Bungee Tint", sans-serif;
  
  text-align: center;

}
.title-head{
 font-size: 1.5em;

}

.intro-text{
    font-size: .7em;

}

.centre{
   
    background-color: yellow;
    margin-top: 0px;
    padding: 30px;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
  
   background: rgb(255, 255, 0, 0.9);
   
   
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

 
  @media screen and (max-width: 920px){
    #title-text{
        font-size: 2em;
        font-weight: 900;
    
    }

    .centre{
        margin-top: 20px;
     
        
       
    }
    .carousel-item{
      max-height: 400px;
      border:solid black 1px;
    }
  }