.centre{
   
  margin-top: 7%;
  padding: 20px;
  border-bottom: black 2px solid;
  border-top: black 2px solid;
  background: rgb(255, 255, 0, 0.9);
 
 
}

#title-text{    
  font-family: "Bungee Tint", sans-serif;
  
  text-align: center;

}
.title-head{
 font-size: 4em;

}

.intro-text{
    font-size: 2em;

}



.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

 
  @media screen and (max-width: 920px){
    #title-text{
        font-size: .5rem;
       
    
    }

    .centre{
        margin-top: 5%
     
             
    }
    .carousel-item{
      max-height: 28rem;
            border:solid black 1px;
    }
  }