#register{
    margin-top: 8%;
    color:black;
    background:rgb(255,255,0, 0.5);
    border: solid red 4px;
    font-family: 'Courier New', Courier, monospace;
    padding: 8%;
    }

    #register-header{
        background: rgba(29,130,56,1);
        font-family: 'Bungee Tint', sans-serif;
    }