.form-container{
    color: black;
background-color: yellow;
margin-top: 30px;
padding: 0;
font-family: Courier New, Courier, monospace;
font-weight: 900;
background: rgb(255, 255, 0, .7);

}
.column{
    padding: 0;
}