.background-class{
    color: black;
    background-color: yellow;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px black solid;
    background: rgb(255, 255, 0, .9);
}