


.header {
    font-family: 'Courier New', Courier, monospace;
   color: black;
   background-color: orangered;
   padding-bottom: 20px;
  
 

}

.brand{
    
    font-family: 'Bungee Tint', sans-serif;
    font-size: 1.5em;
    background-color: yellow;
    padding: 1%;
}

.nav-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
   
    color: black;
}

.brand:hover, .nav-link:hover{
    color: red;
    scale: 1.1;
}
