


.header {
    font-family: 'Courier New', Courier, monospace;
   color: black;
}

.brand{
    color: black;
    font-family: 'Bungee Tint', sans-serif;
}
.navbar-toggler {
color: black;
margin-bottom:15px ;
}



.nav-link{
    color: black;
    background: rgb(255, 255, 0, .8);
  
}
.links {
margin-left: 10px;
}