
.header {
    font-family: 'Courier New', Courier, monospace;
   color: yellow;
   background-color: #1d8238;
   padding-bottom: 20px;
  
}

.brand{
    
    font-family: 'Bungee Tint', sans-serif;
    font-size: 1.5em;
    background-color: yellow;
    padding: 1.5%;
    border: red solid 4px; 
}

.nav-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
   
    color: yellow;
}

.nav-link.active {
    /* Remove active styles */
    background-color: transparent !important;
    color: inherit !important;
  }

.brand:active, .nav-link:active{
    color: red;
    scale: 1.1;
}





@media screen and (max-width: 920px){
    .brand{
       font-size: 1em;
    }
    .nav-link{
        font-size: .8em;
    }
}